# =========================
# Visual Studio
# =========================

.vs/
.vscode/

# =========================
# Compilación .NET
# =========================

bin/
obj/

# =========================
# Archivos de usuario
# =========================

*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Archivos temporales
# =========================

*.tmp
*.temp
*.log
*.cache

# =========================
# Build
# =========================

Debug/
Release/
x64/
x86/

# =========================
# NuGet
# =========================

packages/
*.nupkg
*.snupkg

# =========================
# Rider / JetBrains
# =========================

.idea/
*.sln.iml

# =========================
# Sistema operativo
# =========================

Thumbs.db
Desktop.ini
.DS_Store

# =========================
# Graphviz generado
# =========================

Graficas/*.png
Graficas/*.svg
Graficas/*.jpg

# =========================
# Archivos generados
# =========================

*.dll
*.exe
*.pdb

# =========================
# Publicación
# =========================

publish/